<div data-role="header">
    <div class="titleheader"></div>
</div>
<div data-role="content">
    <div class="block_container">
        <button value="Switch" id="typeswitch" data-role="button" data-icon="false" x-blackberry-focusable="true" />
    </div>
    <form>
        <section class="block">
            <div class="block_container">
                <div class="block_error" name="meldungsartRequired">{{resource.validation_error_mandatory}}</div>
                <div class="block_row block_stackrows block_autoheight">
                    <div class="block_label"><span>Anlagen-Nr.</span>
                    </div>
                    <div class="block_value block_option">
                      <input type="number" id="anlagennr" value="{{anlagennr}}" name="anlagennr" required autocomplete="off" {{#if mastnr_input}}max="9999"{{else}}max="999999"{{/if}} x-blackberry-focusable="true" />
                    </div>
                    <div class="c"></div>
                </div>
            </div>
         {{#if mastnr_input}}
            <div class="block_container">
                <div class="block_error" name="meldungsartRequired">{{resource.validation_error_mandatory}}</div>
                <div class="block_row block_stackrows block_autoheight">
                    <div class="block_label"><span>Mast-Nr.</span>
                    </div>
                    <div class="block_value block_option">
                      <input type="{{switchablefieldtype}}" id="mastnr" value="{{mastnr}}" name="mastnr" required autocomplete="off" max="99999" x-blackberry-focusable="true" />
                    </div>
                    <div class="c"></div>
                </div>
            </div>
          {{/if}}
            <div class="block_container">
                <div class="block_error" name="meldungsartRequired">{{resource.validation_error_mandatory}}</div>
                    <div class="block_row block_stackrows block_autoheight">
                        <div class="block_label"><span>TP-Bezeichnung</span>
                    </div>
                    <div class="block_value block_option">
                        <input type="text" id="technischerplatz" value="{{technischerplatz}}" name="technischerplatz" autocomplete="off" maxlength="40" x-blackberry-focusable="true" />
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
            </div>
            <div class="block_container">
              <div style="float:left; width: 39%;">
                <label>Suchtreffer:</label>
                <div id="treffer">{{#if treffer}}{{treffer}}{{else}}-{{/if}}</div>
              </div>
              <div style="float:right; width: 60%;">
                <button value="Suchen" id="trefferanzahl-btn" data-role="button" data-icon="false" x-blackberry-focusable="true" />
              </div>
              <div style="clear:both;"></div>
            </div>
        </section>
    </form>

    <section class="bottom_button col-50-50">
        <div class="left">
            <button value="{{resource.back_button}}" id="back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
        </div>
        <div class="right">
            <button value="{{resource.next_button}}" id="next" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
        </div>
    </section>
</div>
<div data-role="footer" data-theme="d" id="footer"></div>


