<div data-role="header">
    <div class="titleheader"></div>
</div>
<div data-role="content" id="listcontent">
	<ul data-role="none" data-icon="false" class="order_list">
    	{{#each technischePlaetze}}
            <li>
                <a class="item" id="{{attributes.tplnr}}{{attributes.equnr}}" data-tplnr="{{attributes.tplnr}}" data-equnr="{{attributes.equnr}}" data-text="{{attributes.text}}" x-blackberry-focusable="true">
                    <div class="order_listpanel">
	                    {{#if attributes.equnr}}
	                        <div>
	                            <span class="order_coltitle">{{attributes.equnr}}</span><br>
	                            <span class="order_row"  style="font-size:0.8em">{{attributes.text}}</span><br>
	                        </div>
	                    {{else}}
	                        <div>
	                            <span class="order_coltitle">{{attributes.tplnr}}</span><br>
	                            <span class="order_row"  style="font-size:0.8em">{{attributes.text}}</span><br>
	                        </div>
	                    {{/if}}
                    </div>
                </a>
            </li>
        {{/each}}
    </ul>
    <section class="bottom_button col-50-50">
        <div class="left">
            <button value="{{resource.back_button}}" id="back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
        </div>
    <div class="clearit"></div>
    </section>
</div>