<div data-role="header">
    <div class="titleheader"></div>
</div>
<div data-role="content">
    <form>
        <section class="block">
            <div class="block_container">
                <div class="block_error" name="meldungsartRequired">{{resource.validation_error_mandatory}}</div>
                <div class="block_row block_stackrows block_autoheight">
                    <div class="block_label"><span>Umspannwerk</span></div>
                    <div class="block_value block_option">
                      <input type="text" name="umspannwerk" value="{{umspannwerk}}" id="umspannwerk" required autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="40" x-blackberry-focusable="true" />
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <div class="block_container">
                <div class="block_error" name="meldungsartRequired">{{resource.validation_error_mandatory}}</div>
                <div class="block_row block_stackrows block_autoheight"></div>
            </div>
          	<label>Suchtreffer:</label>
          	<div id="treffer">{{#if treffer}}{{treffer}}{{else}}-{{/if}}</div>
        </section>
    </form>
    <section class="bottom_button col-50-50">
        <div class="left">
            <button value="{{resource.back_button}}" id="back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
        </div>
        <div class="right">
            <button value="{{resource.next_button}}" id="next" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
        </div>
    </section>
</div>
