<div data-role="header">
    <div class="titleheader"></div>
</div>

<div data-role="content">
    <form>
        <section class="block">
            <div class="block_container">
                <div class="block_error" name="gemeindeRequired">{{resource.validation_error_mandatory}}</div>
                <div class="block_row block_stackrows block_autoheight">
                    <div class="block_label"><span>Gemeinde</span>
                    </div>
                    <div class="block_value block_option">
                      <input type="text" name="gemeinde" value="{{gemeinde}}" id="gemeinde" required autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="40" x-blackberry-focusable="true" />
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <div class="block_container">
                <div class="block_error" name="ortsteilRequired">{{resource.validation_error_mandatory}}</div>
                <div class="block_row block_stackrows block_autoheight">
                    <div class="block_label"><span>Ortsteil</span>
                    </div>
                    <div class="block_value block_option">
                    	<input type="text" name="ortsteil" value="{{ortsteil}}" id="ortsteil" required autocomplete="off" maxlength="40" x-blackberry-focusable="true" />
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <input type="hidden" name="alphacode" id="alphacode" />
            <div class="block_container">
                <div class="block_error" name="technischerplatzRequired">{{resource.validation_error_mandatory}}</div>
                <div class="block_row block_stackrows block_autoheight">
                    <div class="block_label"><span>TP-Bezeichnung</span>
                    </div>
                    <div class="block_value block_option">
                    	<input type="text" name="technischerplatz" id="technischerplatz" value="{{technischerplatz}}" autocomplete="off" maxlength="40" x-blackberry-focusable="true" />
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <div class="block_container">
              <div style="float:left; width: 39%;">
                <label>Suchtreffer:</label>
                <div id="treffer">-</div>
              </div>
              <div style="float:right; width: 60%;">
                <button value="Suchen" id="trefferanzahl-btn" data-role="button" data-icon="false" x-blackberry-focusable="true" />
              </div>
              <div style="clear:both;"></div>
            </div>
        </section>
    </form>
    <section class="bottom_button col-50-50">
        <div class="left">
            <button value="{{resource.back_button}}" id="back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
        </div>
        <div class="right">
            <button value="{{resource.next_button}}" id="next" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
        </div>
    </section>
</div>
