<div data-role="header">
    <div class="titleheader"></div>
</div>
<div style="display:block;background-color:#f9f9f9;border-bottom:2px solid #ddd;margin:0px 0px 15px 3px;padding:0px 0px 3px 10px">
	<div style="margin-bottom:5px">Aktuelle Auswahl:</div>
    <div class="float-left">
    	{{#if equnr}}
  		<div style="font-weight:bold">{{equnr}}</div>
  		<div style="font-size:0.8em">{{text}}</div>
      {{else}}
  		<div style="font-weight:bold">{{tplnr}}</div>
  		<div style="font-size:0.8em">{{text}}</div>
      {{/if}}
    </div>
    <div class="float-right">
      <div id="level_back" style="cursor:pointer;border:1px solid #A5A5B1;background-color:#BFBFCC;padding:10px;margin-right:10px;">
        <div style="background-color:transparent;" class="ui-icon ui-icon-arrow-u ui-icon-alt"></div>
      </div>
      <!--<button value="{{resource.level_back_button}}" id="level_back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />-->
    </div>
    <div class="clearit"></div>

</div>
<div data-role="content" id="listcontent">
	<ul data-role="none" data-icon="false" class="order_list">
    	{{#each technischerPlatzChilds}}
            <li>
                <a class="item" id="{{attributes.tplnr}}{{attributes.equnr}}" data-tplnr="{{attributes.tplnr}}" data-equnr="{{attributes.equnr}}" data-text="{{attributes.text}}" x-blackberry-focusable="true">
                    <div class="order_listpanel">
	                    {{#if attributes.equnr}}
	                        <div>
	                            <span class="order_coltitle">{{attributes.equnr}}</span><br>
	                            <span class="order_row" style="font-size:0.8em">{{attributes.text}}</span><br>
	                        </div>
	                    {{else}}
	                        <div>
	                            <span class="order_coltitle">{{attributes.tplnr}}</span><br>
	                            <span class="order_row" style="font-size:0.8em">{{attributes.text}}</span><br>
	                        </div>
	                    {{/if}}
                    </div>
                </a>
            </li>
        {{/each}}
    </ul>
<section class="bottom_button col-50-50">
        <div class="left">
            <button value="{{resource.back_button}}" id="back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
       </div>
       <div class="right">
       		<button value="{{resource.apply_button}}" id="save" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
       </div>
</section>
</div>