<div data-role="header">
    <div class="titleheader"></div>
</div>
<div data-role="content" id="listcontent">
	<ul data-role="none" data-icon="false" class="order_list">
    	{{#each objektartKategorien}}
            <li>
                <a class="item" id="ojectkat_{{attributes.categorieId}}" href="app.html#view?name=SearchForm{{attributes.searchFormNumber}}View&pid={{../pid}}&objectCatId={{attributes.categorieId}}&assembler={{attributes.assembler}}&categorieId={{../categorieId}}&searchFormNumber={{attributes.searchFormNumber}}" x-blackberry-focusable="true">
                    <div class="order_listpanel">
                        <div class="order_col1">&nbsp;&nbsp;</div>
                        <div class="">
                            <span class="order_coltitle">{{attributes.categorieName}}</span><br>
                        </div>
                    </div>
                </a>
            </li>
        {{/each}}
    </ul>

<section class="bottom_button col-50-50">
    <div class="left">
        <button value="{{resource.back_button}}" id="back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
    </div>
    <div class="clearit"></div>
</section>

</div>