<div data-role="header">
    <div class="titleheader" id="sync">
    </div>

    <div data-role="navbar" class="order_list_navbar">
        <ul>
            <li class="navheader_left">
                {{#unless_eq curr_day compare=prev_day }}
                <a id="nav_prev">
                    <span>{{prev_wkday}}&nbsp;{{prev_date_today}}</span>&nbsp;<br>
                    <span>{{prev_date}}</span><br>
                    <div style="padding-top:8px;">
                        <span style="padding-top:3px;border-top: 1px solid #A8B0D5;">{{prev_duration}} Std</span>
                    </div>
                </a>
                {{/unless_eq}}
            </li>
            <li class="navheader_center">
                <a class="ui-btn-active" x-blackberry-focusable="false">
                    <span>{{curr_wkday}}&nbsp;{{curr_date_today}}</span>&nbsp;<br>
                    <span>{{curr_date}}</span><br>
                    <div style="padding-top:8px;">
                        <span style="padding-top:3px;border-top: 1px solid #A8B0D5;">{{curr_duration}} Std</span>
                    </div>
                </a>
            </li>
            <li class="navheader_right">
                {{#unless_eq curr_day compare=next_day }}
                <a id="nav_next">
                    <span>{{next_wkday}}&nbsp;{{next_date_today}}&nbsp;<br>
                    <span>{{next_date}}</span><br>
                    <div style="padding-top:8px;">
                        <span style="padding-top:3px;border-top: 1px solid #A8B0D5;">{{next_duration}} Std</span>
                    </div>
                </a>
                {{/unless_eq}}
            </li>
        </ul>
    </div>
</div>

<div data-role="content" id="listcontent"> <!-- data-iscroll="scroller" -->
    <ul data-role="none" data-icon="false" class="rueckmeldungen_list">
        {{#each curr_rueckmeldung.items}}

        <li class="multi-col-40-60">
            <div class="float-left"><span class="title">{{startTime}} - {{endTime}}</span></div>
            <div class="float-right"><span class="title">{{gemeinde}}{{#if ortsteil}} / {{ortsteil}}{{/if}}</span></div>
            <div class="clearit"></div>

            <div class="float-left"><span>{{duration}}</span>&nbsp;<span class="order_row">Std</span></div>
            <div class="float-right"><span>{{rueckmeldungText}}</span></div>
            <div class="clearit"></div>

            <div class="float-left"><span>{{einsatzId}}</span></div>
            <div class="float-right"><span>{{einsatzShortText}}</span></div>
            <div class="clearit"></div>
        </li>

        {{/each}}
    </ul>
      <section class="bottom_button col-50-50">
        <div class="left">
            <button value="{{resource.back_button}}" id="back" data-role="button" data-inline="true" data-icon="false" x-blackberry-focusable="true" />
       </div>
       <div class="clearit"></div>
    </section>
</div>
<div data-role="footer" data-theme="d" id="footer" >
</div>
